#content
  #container
    video#videoel height="300" loop="" preload="auto" width="400" 
    canvas#overlay height="300" width="400" 
  #emotion_container
    #emotion_icons
      = image_tag 'icon_angry.png', id: 'icon1', class: 'emotion_icon'
      = image_tag 'icon_sad.png', id: 'icon2', class: 'emotion_icon'
      = image_tag 'icon_surprised.png', id: 'icon3', class: 'emotion_icon'
      = image_tag 'icon_happy.png', id: 'icon4', class: 'emotion_icon'
    / #emotion_chart
  / #controls
    input#startbutton.btn disabled="disabled" onclick="startVideo()" type="button" value="wait, loading video" /



javascript:
  var vid = document.getElementById('videoel');
  var overlay = document.getElementById('overlay');
  var overlayCC = overlay.getContext('2d');
  
  /********** check and set up video/webcam **********/

  function enablestart() {
    var startbutton = document.getElementById('startbutton');
    startbutton.value = "start";
    startbutton.disabled = null;
  }
  
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;
  window.URL = window.URL || window.webkitURL || window.msURL || window.mozURL;

  // check for camerasupport
  if (navigator.getUserMedia) {
    // set up stream
    
    var videoSelector = {video : true};
    if (window.navigator.appVersion.match(/Chrome\/(.*?) /)) {
      var chromeVersion = parseInt(window.navigator.appVersion.match(/Chrome\/(\d+)\./)[1], 10);
      if (chromeVersion < 20) {
        videoSelector = "video";
      }
    };
  
    navigator.getUserMedia(videoSelector, function( stream ) {
      if (vid.mozCaptureStream) {
        vid.mozSrcObject = stream;
      } else {
        vid.src = (window.URL && window.URL.createObjectURL(stream)) || stream;
      }
      vid.play();
    }, function() {
      //insertAltVideo(vid);
      alert("There was some problem trying to fetch video from your webcam. If you have a webcam, please make sure to accept when the browser asks for access to your webcam.");
    });
  } else {
    //insertAltVideo(vid);
    alert("This demo depends on getUserMedia, which your browser does not seem to support. :(");
  }

  vid.addEventListener('canplay', enablestart, false);
  
  /*********** setup of emotion detection *************/

  var ctracker = new clm.tracker({useWebGL : true});
  ctracker.init(pModel);

  function startVideo() {
    // start video
    // vid.play();
    // start tracking
    ctracker.start(vid);
    // start loop to draw face
    drawLoop();
  }
  
  var ec = new emotionClassifier();
  ec.init(emotionModel);
  var emotionData = ec.getBlank();

  startVideo();
  
  function drawLoop() {
    requestAnimationFrame(drawLoop);
    overlayCC.clearRect(0, 0, 400, 300);
    //psrElement.innerHTML = "score :" + ctracker.getScore().toFixed(4);
    if (ctracker.getCurrentPosition()) {
      ctracker.draw(overlay);
    }
    var cp = ctracker.getCurrentParameters();
    
    var er = ec.meanPredict(cp);
    if (er) {
      // updateData(er);
      for (var i = 0;i < er.length;i++) {
        if (er[i].value > 0.4) {
          document.getElementById('icon'+(i+1)).style.visibility = 'visible';
        } else {
          document.getElementById('icon'+(i+1)).style.visibility = 'hidden';
        }
      }
    }
  }
  
