// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import "compass";


#videoel, #overlay{
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  height: 50%;
  max-height: 100%;
  @include translate(-50%, 0);
}

#emotion_container{
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, 0);
}



.verify-wrapper {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 400;
}

#correct-read {
  opacity: 0;
}